.footer
    .container
        div.row
            div.col-md-6
                a(href="http://www.excess-project.eu")
                    img(src="/img/corporate/excess-logo.png" style="height: 50px; margin-top: 13px")
            div.col-md-6.text-right(style="margin-top:24px;")
                Copyright © 2013-2016

// /.footer